<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">
	
	<resultMap type="com.postoffice.web.dto.PackageDTO" id="Package">
		<result column="package_id" property="package_id"/>
		<result column="package_weight" property="package_weight"/>
		<result column="state_id" property="state_id"/>
		<result column="arrival_date" property="arrival_date"/>
		<result  column="vid" property="vid"/>
		<collection property="stateList" javaType="java.util.List" ofType="com.postoffice.web.dto.StateDTO">
			<result column="state_id" property="state_id"/>
			<result column="state_name" property="state_name"/>
		</collection>
		<collection property="villageList" javaType="java.util.List" ofType="com.postoffice.web.dto.VillageDTO">
			<result column="vid" property="vid"/>
			<result column="vname" property="vname"/>
		</collection>
		<collection property="mailList" javaType="java.util.List" ofType="com.postoffice.web.dto.MailDTO">
			<result column="mail_id" property="mail_id"/>
			<result column="from_name" property="from_name"/>
			<result column="from_address" property="from_address"/>
			<result column="to_name" property="to_name"/>
			<result column="to_address" property="to_address"/>
			<result column="mail_weight" property="mail_weight"/>
		</collection>
	</resultMap>
	
	<resultMap type="com.postoffice.web.dto.DeliveryDTO" id="deliveryList">
		<result column="delivery_date" property="delivery_date"/>
		<collection property="packageList" javaType="java.util.List" ofType="com.postoffice.web.dto.PackageDTO">
			<id column="package_id" property="package_id"/>
			<result column="package_weight" property="package_weight"/>
		</collection>
		<collection property="villageList" javaType="java.util.List" ofType="com.postoffice.web.dto.VillageDTO">
			<id column="vid" property="vid"/>
			<result column="vname" property="vname"/>
		</collection>
	</resultMap>
	
	
	<!-- <select id="selectAll" parameterType="string" resultType="com.postoffice.web.dto.MailDTO">
		select m.mail_id , m.from_name , m.from_address,m.to_name,m.to_address
		,m.mail_weight,s.state_name,m.package_num,m.mail_date 
        from mail m, state s
        where 
        	s.state_id = m.state_id 
        AND s.state_id=#{state_id}
	</select> -->
	
	<update id="updateStateProc" parameterType="com.postoffice.web.dto.MailDTO">
		update mail set
			state_id  = #{state_id}
		where
			mail_id = #{mail_id}	
	</update>
	
	<update id="registRequest" parameterType="int">
		update package set
			state_id ='s007'
		where
			package_id=#{package_id}
	</update>
	
	<update id="villageArrive" parameterType="int">
		update package set state_id ='s007'
		
		where package_id=#{package_id}
	</update>
	
	<select id="selectAll" parameterType="string" resultType="com.postoffice.web.dto.MailDTO">
		select 
			a.mail_id,
			a.from_name,
			a.from_address,
			a.to_name,
			a.to_address,
			a.mail_weight,
			a.state_id,
			b.state_name as state_name,
			a.package_num,
			a.mail_date,
			a.vid,
			c.vname as village_name
		from
			mail a
		Left outer join state b on b.state_id = a.state_id
		Left outer join village c on c.vid = a.vid
	</select>

	
	<select id="packageCheck" resultMap="Package">
		select
			p.package_id,
			p.package_weight,
			p.state_id,
			s.state_name,
			p.arrival_date,
			v.vid,
			v.vname
		from package p ,state s ,village v
				where s.state_id = p.state_id
				and p.vid=v.vid
			order by package_id asc	
	</select>
	
	<select id="packageCheckdiv" resultMap="Package">
		SELECT
			package.package_id,
			package.package_weight,
			package.vid,
			village.vname
		FROM
			 package ,village 
		WHERE
			 package.vid=village.vid
		AND
			 package.state_id ='s001' 
		ORDER BY
			 package_id 	
	</select>
	
	<delete id="cancel" parameterType="int" >
		delete from package where package_id=#{package_id}
	</delete>
	
	
	<select id="packageDetail" parameterType="int" resultMap="Package" >
	select
			p.package_id,
    		p.vid,
    		v.vname,
    		m.mail_id,
    		m.from_name,
    		m.from_address,
    		m.to_name,
    		m.to_address,
    		m.mail_weight
    	from 
    		package p, village v, mail m
        where m.package_num = p.package_id
  		and v.vid = m.vid
  		and p.package_id=#{package_id}
	</select>
	
	<select id="deliveryList" resultMap="deliveryList">
		SELECT
			delivery.delivery_date, package.package_id, package.package_weight, village.vid, village.vname
		FROM
			delivery, package ,village
		WHERE
			delivery.package_id = package.package_id
		AND
			package.vid = village.vid
	</select>
</mapper>                                                                                                                                                                                                                                                