<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="clientMailDTO">
	<select id="selectTotalRowNum" resultType="int">
		select count(*) from board
	</select>
	<select id="ClientboardList" parameterType="map" resultType="com.postoffice.web.dto.MailDTO">
	select rn,bno,btitle,bwriter,bhitcount,bdate	
		from(
			select bid, btitle, bcontent, battachfile, bdate, vid
			from board
			order by bno asc
		)
		where rownum &lt;= #{endRowNo}
	)
	where rn &gt; #{startRowNo}
	</select>

	
</mapper>
