@charset "UTF-8";

.login_wrapper{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column; /* wrapper 안의 div 세로 방향 정렬 */
}

.login_header{
	margin: auto; /* 가운데 정렬 */
	margin-top: 100px;
}

.login_body{
	margin: auto;
	margin-top: 10px;
	padding: 0;
}

.login_body_tag{
	display:inline-block;
	border-bottom: 2px solid #F32C28;
}

.login_body ul{
	list-style:none; /* 옆에 점 표시 제거 */
	margin: 0;
	padding: 0;
}

.login_body li{
	float: left; /* 리스트 가로 방향으로 정렬 */
	width: 50%;
}

.login_body button{
	display: block; /* 블럭요소로 지정 */
	padding: 0px 50px;
	text-decoration: none; /* 태그 밑줄 제거 */
 	text-align: center; /* 텍스트 가운데 정렬 */
	line-height: 50px; /* 블럭 높이 지정 */
	background-color: white;
	border-style: hidden;
	border: 0;
	outline: 0;
}

.login_body button:hover{ /* 마우스 올렸을 때 속성을 지정 */
	background: #F32C28; /* 마우스 올렸을 때 배경 색 */
	color:white; /* 마우스 올렸을 때 글자 색 */
}

.lid{
	margin: 10px 0px;
	line-height: 50px;
}

.lid input{
	width: 100%
}

.lpassword{
	margin: 10px 0px;
	line-height: 50px;
}

.lpassword input{
	width: 100%;
}

.lbutton{
	line-height: 50px;
	margin: 10px 0px;
}

.lbutton input{
	width: 100%;
	background-color: #F32C28;
	border-style: hidden;
	color: white;
	font-size: 25px;
}

.jbutton{
	line-height: 50px;
	background-color: #F32C28;
	text-align: center;
}

.jbutton a{
	display: block;
	color: white;
	text-decoration: none;
	font-size: 25px;
	font-weight: 100;
}

